# Twilio Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

# Gemini Configuration
GEMINI_API_KEY=

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_BOOK_SECRET_KEY=
STRIPE_EVENT_SECRET_KEY=
STRIPE_CURRENCY=usd

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Groq Configuration
GROQ_API_KEY=
GROQ_API_URL=https://api.groq.com/openai/v1/chat/completions
GROQ_MODEL=llama-3.3-70b-versatile

# OpenRouter Configuration
OPENROUTER_API_KEY=
OPENROUTER_MODEL=meta-llama/llama-3-8b-instruct:free
OPENROUTER_RECLAMATION_API_KEY=

# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/artium_db
DB_USER=root
DB_PASSWORD=

# Ollama Configuration
OLLAMA_HOST=http://localhost:11434
OLLAMA_EMBEDDING_MODEL=nomic-embed-text:latest

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_STARTTLS=true
SMTP_SSL=false

# Event Mail Configuration
MAIL_EVENT_SMTP_HOST=smtp.gmail.com
MAIL_EVENT_SMTP_PORT=587
MAIL_EVENT_SENDER_EMAIL=
MAIL_EVENT_SENDER_PASSWORD=

# Admin Mail Configuration
MAIL_SENDER_EMAIL=
MAIL_SENDER_PASSWORD=
MAIL_ADMIN_EMAIL=

# QR API Configuration
QR_API_URL=https://api.qrserver.com/v1/create-qr-code/
QR_API_KEY=
QR_API_HOST=
QR_API_LOGO_URL=
QR_API_SIZE=280x280
QR_API_FORMAT=png
QR_API_ECC=L
QR_API_MARGIN=1
QR_API_QZONE=0
QR_API_COLOR=177-240-5
QR_API_BGCOLOR=255-255-255
QR_API_CHARSET_SOURCE=UTF-8
QR_API_CHARSET_TARGET=UTF-8
QR_API_DEBUG=true
QR_API_STRICT=false
